{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <title>
        {% block title %}
        Usuarios de Hakkuna Matata
    {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/style/style.css">
    <!-- <link rel="stylesheet" href=""> // aqui puedo conectar mi hoja de estilo -->
    {% endblock %}
    {% block body %}
    
        {% block navbar %}
            {% include 'barnavsistemaweb.html' %}
        {% endblock %}

        {% block content %}
<table class="table table-success table-striped">
    <tr>
        <th scope="col">ID Usuario</th>
        <th scope="col">Usuario</th>
        <th scope="col">Contraseña</th>
        <th scope="col">Tipo</th>
    </tr>
    {% for fila in datos %}
    <tr>
        <td>{{fila[0]}}</td>
        <td>{{fila[1]}}</td>
        <td>{{fila[2]}}</td>
        <td>{{fila[3]}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% endblock %}